* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f7fb;
  margin: 0;
  padding: 30px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  background: #4f6df5;
  color: white;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 22px;
  line-height: 45px;
}

.subtitle {
  color: #666;
  margin-top: 5px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  text-align: center;
}

.card p {
  color: #777;
}

.card h2 {
  margin: 10px 0 0;
}

.urgent h2 {
  color: red;
}

.box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin-bottom: 30px;
}

.box h3 {
  margin-bottom: 20px;
}


label {
  font-size: 14px;
  font-weight: 500;
}

input, textarea, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

textarea {
  resize: none;
  height: 80px;
}

.row {
  display: flex;
  gap: 20px;
}

.row > div {
  flex: 1;
}

/* button */
#addTaskBtn {
  background: linear-gradient(to right, #4f6df5, #6a85ff);
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
}

#addTaskBtn:hover {
  opacity: 0.9;
}

.complete-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background: #6a85ff;   /* Indigo */
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

#taskList {
  margin-top: 10px;
}
